@import url("https://fonts.googleapis.com/css?family=Work Sans");
/* background-color: #ff6464; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main .btn {
  background-color: #ff6464;
}
main {
  min-height: 100vh;
  background: linear-gradient(to right top, #f37878, #f59c9c);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Work Sans";
}

.glass {
  background: white;
  min-height: 80vh;
  width: 90%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2em;
}

.nav-glass {
  width: 90%;
  min-height: 10vh;
}
.container-fluid img {
  width: 12%;
}
.sec-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em;
}

.hero-cont {
  padding: 1em;
}

.hero-cont h1 {
  font-weight: 600;
  line-height: 3rem;
}
.hero-cont h2 {
  font-size: 1.5rem;
}
.hero-cont * {
  line-height: 1.6rem;
  padding-bottom: 0.7em;
  font-weight: 500;
}
.hero-cont button {
  margin-top: 3em;
}
.hero-prof {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-prof img {
  width: 80%;
  border-radius: 50%;
}
.sec-2 {
  display: flex;
  flex-direction: column;
  padding: 3em;
  text-align: center;
  background: #ff646449;
  border-radius: 2em;
}
.skil-sec ul {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
}
.skil-sec ul > li {
  padding: 1.5em;
}
.sec-3 {
  padding: 3em;
  text-align: center;
}
.hi-cont {
  padding: 2em 0em;
}
.hi-cont span {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #ff6464;
  border-style: solid;
  border-radius: 2em;
  margin: 1em;
  padding: 1em 3em;
}
.hi-cont span > img {
  width: 20%;
}
.hi-txt {
  text-align: left;
  font-size: 1rem;
  padding: 1em;
}
.hi-txt h3 {
  font-weight: 600;
  font-size: 1.6rem;
}
.footer {
  min-height: 20vh;
}
.footer h3 {
  text-align: center;
}

.footer-info {
  text-align: center;
  padding: 2em;
}
.footer-info a {
  text-decoration: none;
  color: black;
}
@media (min-width: 1024px) {
  .glass {
    width: 70%;
  }
  .nav-glass {
    width: 70%;
  }
}
@media (min-width: 768px) {
  .sec-1 {
    flex-direction: row;
  }

  .skil-sec ul {
    flex-direction: row;
  }
}
